{% for type ,messages in app.flashes(['success','error','info','suppression','updated']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
            {{  message }}
        </div>
    {% endfor %}
{% endfor %}